header {
  background: black;
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerStyle {
  text-decoration: none;
  font-weight: bold;
  color: pink;
  padding: 5px;
}
